.content {
	&__werken {
		&--container {
			@include Flex(space-between, flex-start);
			margin-top: 4rem;
			margin-bottom: 1rem;

			@include Responsive($containerWidth) {
				@include Flex(flex-start, flex-start, column);
			}
		}

		&--left {
			width: 65%;

			@include Flex(flex-start, flex-start, column);

			@include Responsive($containerWidth) {
				width: 100%;
			}

			h1 {
				font-family: 'Montserrat', sans-serif;
				font-size: 40px;
				text-transform: uppercase;
				line-height: 40px;
				margin: 0;
				font-weight: 700;

				@include Responsive($containerWidth) {
					word-break: break-word;
					font-size: clamp(4.5vw, 24px, 40px);
					line-height: clamp(4.5vw, 24px, 40px);
				}
			}

			h2 {
				font-family: 'Montserrat', sans-serif;
				font-size: 30px;
				color: $gb__rood;
				margin: 0;
				font-weight: 700;

				@include Responsive($containerWidth) {
					font-size: clamp(2vw, 20px, 30px);
					line-height: clamp(2vw, 20px, 30px);
				}
			}

			p {
				@include BodyFont;

				@include Responsive(980px) {
					margin: 0;
				}
			}

			h3 {
				font-family: 'Montserrat', sans-serif;
				font-size: 30px;
				text-transform: uppercase;
				line-height: 60px;
				margin: 0;
				font-weight: 700;
				margin-top: 2rem;

				@include Responsive($containerWidth) {
					font-size: clamp(4.5vw, 25px, 30px);
					line-height: clamp(4.5vw, 25px, 30px);
				}
			}

			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				padding-left: 1rem;
				margin-bottom: 1rem;

				li {
					padding-left: 1.5em;
					text-indent: -1.5em;
					@include Flex(flex-start, center);
				}

				li::before {
					content: "\2022";
					color: $gb__rood;
					// margin-right: 15px;
					font-size: 30px !important;
					line-height: 0;

				}
			}

			&--cta {
				background: #ececec;
				border-left: 5px solid #5a8b7a;
				box-shadow: 0 3px 2px 0 rgba(0, 0, 0, .05);
				font-size: .8em;
				padding: 45px;

				margin: 2rem 0;

				h3 {
					margin: 0;
				}

				p {
					font-size: 14px;
					margin: 0;
					font-style: italic;

					@include Link {
						color: $gb__groen-2;
						text-decoration: none;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}

		&--right {
			width: 30%;

			@include Flex(flex-start, flex-start, column);

			@include Responsive($containerWidth) {
				width: 100%;
			}


		}

		&--vacatures {
			background-color: #ececec;
			padding: 30px 30px 55px;
			width: 100%;

			h3 {
				font-family: 'Montserrat', sans-serif;
				font-size: 30px;
				line-height: 20px;
				text-transform: uppercase;
				margin: 0;
				font-weight: 700;
				margin-top: 2rem;
				margin-bottom: 1rem;

				@include Responsive($containerWidth) {
					font-size: clamp(4.5vw, 25px, 30px);
					line-height: clamp(4.5vw, 25px, 30px);
				}
			}

			p {
				@include BodyFont;
				font-size: 15px;
			}

			@include Link {
				@include BodyFont;
				color: $gb__groen-2;
				text-decoration: none;
				font-size: 14.4px;
				margin-top: 10px;
			}

			&--line {
				margin-top: 20px;
				border-top: 3px solid rgba(0, 0, 0, .12);
				width: 40%;
			}
		}

		&--quote {
			margin-top: 2rem;
			background-color: #fff;
			padding: 45px 30px 55px;
			border: 2px solid #ececec;
			@include Flex(flex-start, center, column);

			p {
				@include BodyFont;
				text-align: center;
				margin-top: 0;
				font-size: 15px;

				&:first-child() {
					font-size: 64px;
					font-weight: 700;
					color: #b5b2b1;
					padding: 0;
					margin: 0;
				}
			}

			&-bio {
				p {
					@include BodyFont;
					line-height: 1;
					margin: 0;
					font-size: 15px;
				}

				strong {
					font-weight: 600;
					@include BodyFont;
					color: black;
					margin: 0;
					line-height: 0;
					font-size: 15px;
				}
			}
		}

		&--block {
			margin-top: 2rem;
			background-color: #fff;
			padding: 45px 30px 55px;
			border: 2px solid #5a8b7a;
			width: 100%;

			@include Responsive($containerWidth) {
				margin-bottom: 2rem;
			}

			h4 {
				font-family: 'Montserrat', sans-serif;
				font-size: 15px;
				font-weight: 200;
				text-transform: uppercase;
			}

			p {
				@include BodyFont;
				font-size: 15px;

				@include Link {
					text-decoration: none;
					color: $gb__groen-2;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		&--socials {
			@include Flex(flex-start, flex-start);

			@include Link {
				box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
				padding: .5em 0;
				border-radius: .25em;
				@include Flex(center, center);
				width: 35px;
				height: 35px;
				background-color: #969696;

				&:not(:last-child) {
					margin-right: 10px;
				}

				&:hover {
					background-color: lighten(#969696, 10%);
				}

				svg {
					fill: #fff;

					path {
						fill: #fff;
					}
				}
			}
		}
	}
}

.werken {
	&__menu {
		&--item {
			&:not(:last-child) {
				border-bottom: 2px solid rgba(255, 255, 255, 0.3);
				padding-bottom: 10px;
			}

			@include Responsive(1320px) {
				padding: 10px 0 5px !important;
			}
		}
	}
}

.werken{
	&__opsomming{
		
		&--item{
			list-style: none;
			margin-top: 10px;
			&:not(:last-of-type) {
				border-bottom: 3px solid rgba(0, 0, 0, 0.3);
				padding-bottom: 10px;
			}
			a, a:active, a:visited, a:link {
				color: $gb__color-1;
				text-decoration: none;
				font-size: 15px;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}