// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - (($columns__margin * ($numberColumns - 1)) / $numberColumns);
}


@mixin Flex($justify: false, $align: false, $direction: false) {
	display: flex;
	justify-content: $justify;
	align-items: $align;

	@if $direction {
		flex-direction: $direction;
	}
}

@mixin Container {
	width: $containerWidth;

	@media screen and (max-width: $containerWidth) {
		width: calc(100% - 2rem);
	}
}

@mixin Link($hover: false) {

	@if ($hover) {
		> a:hover {
			@content;
			opacity: 0.8;
		}
	}

	@else {
		> a,
		> a:active,
		> a:visited,
		> a:link {
			@content;
		}
	}
}

@mixin H2{
	font-family: 'Montserrat', sans-serif;
	font-size: 39px;
	color: black;
	text-transform: uppercase;
	margin: 0;
}

@mixin Button($color: false){
	display: flex;
	padding: 15px 35px 15px 30px;
	width:fit-content;
	box-sizing: border-box;
	font-size: 18px;
	background-color: $gb__groen-2;
	color: #fff;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	clip-path: polygon(0px 0px, 100% 0%, 95% 100%, 0% 100%);
	text-transform: uppercase;
	transition: filter .25s ease;
	filter: brightness(100%);

	&:hover{
		filter: brightness(110%);
	}

	@include Responsive(600px){
		width: 100%;
		font-size: 15px;
	}
}

@mixin Responsive($breakpoint){
	$calculateBreakpoint : calc(#{$breakpoint} + 5px);
	@media screen and (max-width: $calculateBreakpoint){
		@content;
	}
}

@mixin BodyFont{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;

	@include Responsive($containerWidth){
		font-size: clamp(1vw, 15px, 18px);
	}
}