$mobile: 1330px;

.header {
    background-color: $gb__color-1;
    padding: 0.8rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    &__container {
        // @include Container;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
        @include Flex(space-between, center);

        h2 {
            margin: 0;
        }
    }

    &__logo {
        width: 20%;

        img {
            min-width: 230px;

            @include Responsive(550px) {
                min-width: 175px;
            }
        }
    }

    &__nav {
        &--show{
            display: flex !important;
            overflow-y: scroll;
            overflow-x: hidden;
            height: 85vh;
        }
        @include Flex(flex-start, center);

        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: #fff;
        
   

        ul {
            margin: 0;
            padding: 0;

            @include Responsive($mobile) {
                // display: none;
                background-color: $gb__groen-2;
                position: absolute;
                left: 0;
                top: 103px;
                // background-color: red;
                width: 100%;
                padding: 2rem;

                @include Flex(flex-start, flex-start, column);
                display: none;
            }

            @include Responsive(550px){
                top: 100px;
            }

            @include Flex(flex-start, center);

            li {
                margin: 0;
                padding: 0;
                list-style: none;
                position: relative;
         
                @include Responsive($mobile) {
                    padding: 0 0;
                    width: 100%;

                    @include Link{
                        margin-bottom: 10px !important;
                        display: flex !important;
    
                        &:hover{
                            color: #b5b2b1 !important;
                        }
                    }
                }
                
                ul {
                    display: none;
                    opacity: 0;

                    @include Responsive($mobile) {

                        @include Flex(flex-start, flex-start, column);
                        opacity: 1;
                        position: relative;
                        margin: 0;
                        padding: 0;
                        top: 0;
                        margin-left: 2rem;
                    }

                    li{
                        width: 100%;
                        @include Responsive($mobile){
                            padding: 10px 0 5px !important;
                        }
                        &:not(:last-child){
                        padding-bottom: 10px;
                        border-bottom: 2px solid rgba(255, 255, 255, 0.3);
              
                        }
                    }
                }

                &:hover {
                    ul {
                        @include Flex(flex-start, flex-start, column);
                        padding: 0;
                        margin: 0;
                        position: absolute;
                        animation: fadeIn .2s forwards;
                        top: 25px;
                        width: fit-content;
                        background-color: $gb__groen-2;
                        color: #fff;
                        padding: 1.25rem 1.75rem;
                        opacity: 1;

                        @include Responsive($mobile) {
                            padding: 0;
                            width: 100%;
                            margin: 0;
                            background-color: unset;
                            position: relative;
                            top: 0;
                            animation: none;
                            opacity: 1;
                            margin-left: 2rem;
                        }

                        li {
                            margin: 5px 0;
          
                            @include Responsive($mobile) {
                             margin: 0;
                             
                            }
                            @include Link {
                                text-transform: uppercase;
                                color: #fff;
                                text-decoration: none;
                                transition: color .25s ease;
                                background-color: transparent !important;
                                padding: 0 !important;
                                margin: 0;

                                word-wrap: none;
                                // white-space: nowrap;


                                &:hover {
                                    color: rgb(205, 205, 205);
                                    
                                }
                            }
                        }
                    }
                }

                &:not(:nth-child(n+8)) {
                    margin-right: 20px;
                }

                &:nth-child(7) {


                    margin: 0 1px 0 0;
                    @include Responsive($mobile) {
                        margin: 0;
                    }
                    @include Link {
                        background-color: #e4170e;
                        padding: 5px 10px 5px 10px;
                        // margin: 0 1px 0 0;

                        transition: background-color .25s ease;

                        @include Responsive($mobile) {
                            background-color: unset;
                            padding: 0;
                        }
                    }

                    @include Link(hover) {
                        background-color: #fff;
                        color: #e4170e;

                        @include Responsive($mobile) {
                            background-color: unset;
                            color: #fff;
                        }

                    }

                }

                &:nth-child(8) {

                    @include Link {
                        padding: 5px 10px 5px 10px;
                        width: fit-content;
                        background-color: $gb__groen-2;
                        color: #fff;
                        text-decoration: none;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 600;
                        clip-path: polygon(0px 0px, 100% 0%, 95% 100%, 0% 100%);
                        text-transform: uppercase;
                        transition: background-color .25s ease;
                        @include Responsive($mobile) {
                            clip-path: unset;
                            background-color: unset;
                            padding: 0;
                            color: #fff;
                        }
                    }

                    @include Link(hover) {
                        background-color: #fff;
                        color: $gb__groen-2;
                        @include Responsive($mobile) {

                            background-color: unset;
                            color: #fff;
                        }
                    }

                }

                @include Link {
                    color: #fff;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 14.5px;
                    letter-spacing: 0.5px;
                    font-weight: 600;
                }

                @include Link(hover) {
                    color: $gb__groen;
                }
            }
        }

        &--hamburger {
            display: none;

            @include Responsive($mobile) {
                width: 40px;
                height: 50px;
                display: flex !important;

                &:hover {
                    cursor: pointer;

                    svg {
                        path {
                            fill: red;
                        }
                    }
                }

                @include Flex(center, center);
            }

            svg {
                width: 30px;
                height: 30px;

                path {
                    fill: #fff;
                    transition: all .25s ease;
                }
            }
        }
    }
}



.footer {
    width: 100%;
    background-color: $gb__grijs;
    padding: 2rem 0;
    padding-bottom: 3rem;
    // margin-top: 3rem;
    &__container {
        @include Container;
        @include Flex(space-between, flex-start);
        margin: 0 auto;

        @include Responsive(750px) {
            flex-wrap: wrap;
        }
    }

    &__left {
        width: 80%;
        @include Flex(space-between, flex-start);

        @include Responsive(1080px) {
            flex-wrap: wrap;
            width: 50%;
        }

        @include Responsive(750px) {
            width: 100%;
        }

        &--item {
            width: calc(100% / 4 - 8px);
            @include Flex(flex-start, flex-start, column);

            @include Responsive(1080px) {
                width: calc(100% / 2 - 8px);
            }

            @include Responsive(370px) {
                width: 100%;
            }

            h5 {
                text-transform: uppercase;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                color: #1a1a18;
                font-size: 16px;
                margin-bottom: 0.5rem;
            }

            ul {
                padding: 0;
                margin: 0;

                li {
                    list-style: none;
                    margin-bottom: 2.5px;

                    @include BodyFont;
                    font-size: 16px;
                    color: #1a1a18;

                    span {
                        color: red;
                        font-weight: 600;
                    }

                    @include Link {
                        margin-left: 5px;
                        text-decoration: none;
                        color: #1a1a18;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        &--socials {
            @include Flex(flex-start, flex-start);
            width: 100%;

            &-item {
                @include Flex(center, center);
                width: 35px;
                height: 35px;
                background-color: #fff;
                box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);

                svg {
                    width: 18px;
                    height: 18px;
                    fill: #b5b2b1;

                    path {
                        fill: #b5b2b1;
                    }
                }

                &:not(:last-child) {
                    margin-right: 8px;
                }
            }
        }
        &--brochure {
            > a {
                background-color: #e4170e;
                padding: 5px 10px 5px 10px;
                transition: background-color .25s ease;
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 14.5px;
                letter-spacing: 0.5px;
                font-weight: 600;
                font-family: 'Montserrat', sans-serif;

                &:hover {
                    background-color: #fff;
                    color: #e4170e;
                    opacity: 0.8;
                }
            }
        }
    }

    &__right {
        width: 20%;

        margin-top: 1rem;

        @include Responsive(1080px) {
            width: 50%;
        }

        @include Responsive(750px) {
            margin-top: 4rem;
            width: 100%;
        }

        @include Flex(center, center, column);

        p {
            text-transform: uppercase;
            color: black;
            font-size: 12px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
        }
    }

    &__disclaimer {
        background-color: #3e4141;
        width: 100%;
        display: grid;
        align-items: center;
        text-align: center;
        padding: 5px 0;

        p {
            margin: 0;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            font-size: 15px;

            @include Link {
                color: #fff;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
